<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Random Bullet Generator</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="static/favicon.png" />
  
  
      <link rel="stylesheet" href="static/style.css">

  
</head>

<body>

  <h1>RANDOM BULLET GENERATOR</h1>
  
<div class="center">
  <form action="/submit" method="post">
    <input type="submit" class="btn" value="Generate Bullet" >
  </form>
    <div id="results">
      <p id="random_word">Random Bullet:</p>
      <p id="word">{{display_word}}</p>
      
  </div>
</div>


</body>

</html>
